* {
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: Roboto;
    font-style: normal;
}

body {
    max-width: 1440px;
    width: 100%;
    font-family: Gilroy;    
    font-style: normal;
    background-color: #F6F6F6;
    margin: 0 auto;
    background-image: url("/assets/taking_notes.png");
    background-position: right;
    background-position-y: 218px;
    background-repeat: no-repeat;
    background-size: 63%;
}

header {
    max-width: 1394px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
}

svg {
    width: 40%;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 63.6%;
}

.header__form {    
    padding-top: 2px;
    width: 60%;
}

.header__form-input {
    border: 2px solid #75787B;
    border-radius: 5px;
    width: 60%;
    height: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 19px;
    color: #000000;
    opacity: 0.3;
    padding-left: 37px;
}

.button_for_turn_back {
    height: 40px;
    width: 10%;
    border: 2px solid #75787B;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 19px;
    color: #000000;
    opacity: 0.3;
}

.button_for_search {
    height: 40px;
    width: 10%;
    border: 2px solid #75787B;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 19px;
    color: #000000;
    opacity: 0.3;
    background-image: url('/assets/Search.png');
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #75787B;
}

.wrapper {
    max-width: 1348px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.filter {
    max-width: 1348px;
    width: 100%;
    margin: 0 auto;
    padding-top: 31px;
    display: flex;
    flex-direction: column;
}

.submenu {
    display: flex;
    flex-direction: row;
    width: 56.3%;
    height: 50px;
    border-top: 1px solid #E2E2E2;
}

.submenu__button {
    width: 175px;
    color: #53565A;
    border: none;
    background-color: #F6F6F6;
    cursor: pointer;
    font-size: 1.7rem;
}

.submenu__button:hover {
    background-color: #d4d3d3;
}

.new-task {
    display: flex;
    flex-direction: column;
    width: 56.3%;
    height: 176px;
}

label {
    font-family: Roboto;
    font-size: 1.2rem;
    line-height: 17px;
    color: #706E6B;
}

.new-task__text {
    width: 100%;
    height: 91px;
    font-family: Roboto;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 19px;
    color: #53565A;
    border: 1px solid #DDDBDA;
}

.new-task__button {
    width: 25%;
    height: 36px;
    background-color: #2F80ED;
    color: white;
    padding: 8px 0px 8px;
    margin-top: 9px;
    align-items: center;
    align-self: flex-end;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 16px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    border: 1px solid #2F80ED;
}

.list {
    max-width: 1360px;
    margin: 0 auto;
}

li {
    width: 56.1%;
    height: 109px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 19px;
    color: #53565A;
    list-style-type: none;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    margin-bottom: 17px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}

span {
    width: 50%;
    word-wrap: break-word;
    overflow: auto;
    padding-top: 12px;
}

.delete {
    display: none  !important;
}

.important {
    display: none;
}

.close {
    display: none;
}

li:hover .important {
    display: block;
    width: 183px;
    height: 36px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 200px;
    border: none;
    cursor: pointer;
    background-color: #27AE60;
}

li:hover .close {
    display: block;
    background-image: url("/assets/Delete.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
}

.importantOn {
    background-image: url("/assets/star_border.png");
    background-repeat: no-repeat;
    background-position-y: 14px;
    font-weight: 900;
}

li:hover .importantButton {
    background-color: #BDBDBD;
}

.activeSubmenuButton {
    border-top: 4px solid #2F80ED;
    font-weight: 900;
}

@media (max-width: 1000px) {
    html {
        font-size: 8px;
    }
    .header__wrapper {
        width: 80%;
    }
    .submenu {
        width: 80%;
    }
    .new-task {
        width: 80%;
    }
    li {
        width: 80%;
    }
    
}

@media (max-width: 550px) {
    html {
        font-size: 6px;
    }
    li:hover .important {
        width: 80px;
        height: 25%;
        line-height: 1.6rem;
    }
    
    li:hover .close {
        background-size: 100%;
        width: 25px;
        height: 25px;
    }

    .button_for_turn_back {
        width: 10%;        
    }
    
    .button_for_search {
        background-size: 100%;
    }
}

